<html>
<head>
<META HTTP-EQUIV="refresh" CONTENT="1;URL=/useraccess/main">
</head>
<body>
<h2>login successfully. redirecting to main page ....</h2>
<<<<<<< HEAD
=======
<h2>created successfully. redirecting to login page ....</h2>
>>>>>>> 8a51ad0b9614a4cdb85836d871b0140cb93a4bd4
Your session: 
=session[:studentid]
</body>
</html>
