-# Bookdbs#index
-# Find me in app/views/bookdbs/index.html.haml
%a{:href => 'createaccount'} create account
%h2{:style=>'text-align: center'} Login Page
%form{ :controller => 'bookdbs', :action => 'login', :method => 'get' }
  %table{ :border => 0, :width => "100%", :height => "100%" }
    %tr{ :align => "center", :valign => "center" }
      %td
        %label Username:
        =text_field_tag :username, params[:username]
      %td
        %label Password:
        =password_field_tag :password, params[:password]
        %input{ :type => "submit", :name => "submit", :value => "login" }
