%h1 Change New Values
= form_tag changeprice_path(), :method => :put do
  %table
    %tr
      %td
      %td 
        %label ค่าปรับ
      %td 
        %label จำนวนวันที่ยืมได้
    %tr
      %td
        =label :bac, :title, 'BachelorDegree, Staff'
      %td
        =text_field :bac1, 'price'
      %td
        =text_field :bac2, 'checkoutdate'
    %tr
      %td
        =label :mac, :director, 'Master Degree'
      %td
        =text_field :mac1, 'price'
      %td
        =text_field :mac2, 'checkoutdate'
    %tr
      %td
        =label :pac, :director, 'Professor'
      %td
        =text_field :pac1, 'price'
      %td
        =text_field :pac2, 'checkoutdate'
    %tr
      %td
        =submit_tag 'Update Info'
